{% extends 'forum/index.html' %}
{% load static %}

{% block leftAside %}
{% endblock %}

{% block articles %}
    <section class="password_reset">
        <form class="topic_form" action="{% url 'forum:create_topic' %}" method="post">
            {% csrf_token %}
                <a class="help_text">{{ form.slug.help_text }}</a>
                {{ form.slug }}
                {{ form.title }}
                {{ form.description }}
            <input type="submit" value="Create Topic" class="resetButton">
        </form>
    </section>
{% endblock %}