{% extends 'forum/index.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'forum/css/topic_card.css' %}">
{% endblock %}

{% block articles %}
    <section>
        <div class="topDescription">
            <div class="topic_left">
                <div id="dropdown-post-nav">
                    <div id="dropdown-btn">
                        <h3>{% block PageName %}Home Page{% endblock %}</h3>
                        <img id="down-arrow" src="{% static 'forum/img/down_arrow.png' %}">
                    </div>
                    <div class="post-nav-content">
                        <div class="dropdown-element">
                            {% block firstPageLink %}
                                <a href="{% url 'forum:new_posts' %}">New Posts</a>
                            {% endblock %}
                        </div>
                        {% if user.is_authenticated %}
                            <div class="dropdown-element">
                                {% block secondPageLink %}
                                    <a href="{% url 'forum:followed_posts' %}">Followed Posts</a>
                                {% endblock %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if page_list %}
            {% for post in page_list %}
                {% include 'forum/cards/post_card.html' %}
            {% endfor %}
        {% else %}
            <p>Não há posts</p>
        {% endif %}
        {% include 'forum/widgets/paginator.html' %}
    </section>
{% endblock articles %}

{% block js %}
    <script src="{% static 'forum/js/topic_details.js' %}"></script>
{% endblock %}
