{%  extends 'forum/index.html' %}

{% block asideList %}
    {% if topic %}
        <ul>
            {% for topico in topic %}
                <a href="">({ topico.title }}</a>
            {% endfor %}
        </ul>
    {% else %}
        <a>Não há tópicos</a>
    {% endif %}
{% endblock asideList %}

{% block articles %}
    {% if page_list %}
        {% for post in page_list %}
            <article>
                <div class="toppost">
                    <a href=""><img src="https://www.w3schools.com/w3images/avatar6.png" alt="Avatar" class="avatar"></a>
                    <a href="">{{ post.owner.username}}</a>
                    <a>{{ post.pub_date }}</a>
                </div>
                <div class="textpost">
                    <p class="postTitle">{{ post.title }}</p>
                    <p class="postText">{{ post.text }}</p>
                </div>
                <div class="buttonspost">
                    <button onclick="likefunctionClick(this)" onmouseenter="likefunctionHover(this)" onmouseleave="likefunctionHover(this)" class="like"></button>
                    <p class="numberPizzas">{{ post.post_pizzas }}</p>
                    <button>Comment</button>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>Não há posts</p>
    {% endif %}
    <article>
        <div class="toppost">
            <a href=""><img src="https://www.w3schools.com/w3images/avatar6.png" alt="Avatar" class="avatar"></a>
            <a href="">Autor</a>
            <a>ontem às 23:00</a>
        </div>
        <div class="textpost">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae itaque iusto minima perferendis porro quas repellat sed similique. Aut cupiditate eius ipsa nobis non perferendis possimus tempora ullam velit?</p>
        </div>
        <div class="buttonspost">
            <button onclick="likefunctionClick(this)" onmouseenter="likefunctionHover(this)" onmouseleave="likefunctionHover(this)" class="like"></button>
            <button>Comment</button>
        </div>
    </article>

    <article>
        <div class="toppost">
            <a href=""><img src="https://www.w3schools.com/w3images/avatar6.png" alt="Avatar" class="avatar"></a>
            <a href="">Autor</a>
            <a>ontem às 23:00</a>
        </div>
        <div class="textpost">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae itaque iusto minima perferendis porro quas repellat sed similique. Aut cupiditate eius ipsa nobis non perferendis possimus tempora ullam velit?</p>
        </div>
        <div class="buttonspost">
            <button onclick="likefunctionClick(this)" onmouseenter="likefunctionHover(this)" onmouseleave="likefunctionHover(this)" class="like"></button>
            <button>Like</button>
        </div>
    </article>

     <article>
        <div class="toppost">
            <a href=""><img src="https://www.w3schools.com/w3images/avatar6.png" alt="Avatar" class="avatar"></a>
            <a href="">Autor</a>
            <a>ontem às 23:00</a>
        </div>
        <div class="textpost">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae itaque iusto minima perferendis porro quas repellat sed similique. Aut cupiditate eius ipsa nobis non perferendis possimus tempora ullam velit?</p>
        </div>
        <div class="buttonspost">
            <button onclick="likefunctionClick(this)" onmouseenter="likefunctionHover(this)" onmouseleave="likefunctionHover(this)" class="like"></button>
            <button>Like</button>
        </div>
    </article>

     <article>
        <div class="toppost">
            <a href=""><img src="https://www.w3schools.com/w3images/avatar6.png" alt="Avatar" class="avatar"></a>
            <a href="">Autor</a>
            <a>ontem às 23:00</a>
        </div>
        <div class="textpost">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae itaque iusto minima perferendis porro quas repellat sed similique. Aut cupiditate eius ipsa nobis non perferendis possimus tempora ullam velit?</p>
        </div>
        <div class="buttonspost">
            <button onclick="likefunctionClick(this)" onmouseenter="likefunctionHover(this)" onmouseleave="likefunctionHover(this)" class="like"></button>
            <button>Like</button>
        </div>
    </article>

    <article>
        <div class="toppost">
            <a href=""><img src="https://www.w3schools.com/w3images/avatar6.png" alt="Avatar" class="avatar"></a>
            <a href="">Autor</a>
            <a>ontem às 23:00</a>
        </div>
        <div class="textpost">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae itaque iusto minima perferendis porro quas repellat sed similique. Aut cupiditate eius ipsa nobis non perferendis possimus tempora ullam velit?</p>
        </div>
        <div class="buttonspost">
            <button onclick="likefunctionClick(this)" onmouseenter="likefunctionHover(this)" onmouseleave="likefunctionHover(this)" class="like"></button>
{#            <a>Likes: {{ instance.post_pizzas.count }}</a>#}
            <button>Like</button>
        </div>
    </article>

    <script>

        var isliked = false;
        var likes=0;
        function likefunctionClick(x) {
            if(!isliked) {
                isliked = true;
                likes++;
            }else{
                isliked = false;
                likes--;
            }
        }

        function likefunctionHover(x) {
            if(!isliked) {
                x.classList.toggle("liked");
            }
        }

    </script>
{% endblock articles %}