<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'forum/js/jquery-3.5.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'forum/css/main.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="leftheader">
            <img src="{% static 'forum/img/undraw_at_home_octe.png' %}">
            <a id="forumtitle">Quarentine Life</a>
        </div>
        <div class="rightheader">
            <a style="float: right"><input type="text" name="SearchBar" placeholder="Search..."></a>
            {% if user.is_authenticated %}
                <a href="{% url 'forum:logout' %}"><button class="logoutbutton">LogOut</button></a>
            {% else %}
            <a><button class="loginbutton" id="navloginbutton">Log In</button></a>
            {% endif %}
        </div>
    </header>

    <main>
        <aside>
            <h3>Tópicos a seguir</h3>
            {% block asideList %}

            {% endblock asideList %}
        </aside>

        <section>
            {% block articles %}
           
            {% endblock articles%}
        </section>
    </main>
</body>

    <div class="login">
        <div class="login-container">
            <img src="{% static 'forum/img/close1.png' %}" id="close">
            <div class="login-form">
                <img src="{% static 'forum/img/undraw_profile_pic_ic5t.png' %}">
                <form id="login_form" action="{% url 'forum:api_login' %}" method="post">
                    {% csrf_token %}
                    {% for field in loginForm %}
                        {{ field }}
                    {% endfor %}
                    <a class="credencials-error">E-mail ou password errados</a>
                    <input type="submit" class="loginbutton" value="LogIn">
                </form>
                <a>Ainda não está registado?</a>
                <a href="#" id="signup">Registe-se aqui</a>
            </div>
            <div class="signup-form">
                <img src="{% static 'forum/img/undraw_profile_pic_ic5t.png' %}">
                <form action="{% url 'forum:api_signup' %}" method="post" id="signup_form">
                    {% csrf_token %}
                    {% for field in signupForm %}
                        {{ field }}
                    {% endfor %}
                    <input type="submit" class="signupButton" value="SignUp">
                </form>
                <a>Já está registado?</a>
                <a href="#" id="signin">Faça login aqui</a>
            </div>
            <div class="login-art">
                <img src="{% static 'forum/img/undraw_social_distancing_2g0u.png' %}">
            </div>
            <div class="signup-art">
                <img src="{% static 'forum/img/undraw_authentication_fsn5.png' %}">
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#navloginbutton").click(function () {
                $(".login").css("display", "flex")
            });

            $("#close").click(function () {
                $(".login").css("display", "none")
            });

            $("#signup").click(function () {
                $(".login-form").css("display", "none");
                $(".signup-form").css("display", "flex");
                $(".login-art").css("order", "1");
                $(".signup-art").css("display", "flex");
                $(".login-art").css("display", "none");
                $("#close").css("left", "revert");
                $("#close").css("right", "10px");
            });

            $("#signin").click(function () {
                $(".login-form").css("display", "flex");
                $(".signup-form").css("display", "none");
                $(".login-art").css("order", "2");
                $(".signup-art").css("display", "none");
                $(".login-art").css("display", "flex");
                $("#close").css("left", "10px");
                $("#close").css("right", "revert");
            })
        })


    </script>
    <script src="{% static 'forum/js/accounts.js' %}"></script>
    <script src="{% static 'forum/js/main.js' %}"></script>


</html>