<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="../../static/forum/main.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
</head>
<body>
    <header>
        <a id="forumtitle">Quarentine Life</a>
        <a id="navlogin"><button>Log In</button></a>
        <a style="float: right"><input type="text" name="SearchBar" id="search" placeholder="Search..."></a>
    </header>

    <aside>
        <ul>
            <h3>Topicos populares</h3>
            <li>Topico 1</li>
            <li>Topico 2</li>
        </ul>
    </aside>

    <section>
        <article>
            <h2>Nome post-Autor</h2>
            <p>Texto do post</p>
            <button>Like</button>
        </article>

        <article>
            <h2>Nome post-Autor</h2>
             <p>Texto do post</p>
            <button>Like</button>
        </article>
    </section>

</body>
</html>