<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block tabTitle %}
    Quarantine Life
    {% endblock %}</title>
    {% load static %}
    <script src="{% static 'forum/js/jquery-3.5.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'forum/css/main.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="shortcut icon" type="image/png" href="{% static 'forum/img/favicon.ico' %}"/>
</head>
<body>
<main>
    <div class="left-aside">
        {% block leftAside %}
            <h3>Following topics</h3>
            {% if user.is_authenticated %}
                {% if user.topic_followers.all %}
                    {% for topic in user.topic_followers.all %}
                        <a href="{% url 'forum:topic' topic.slug %}">{{ topic.title }}</a>
                    {% endfor %}
                {% else %}
                    <a>There are no topics</a>
                {% endif %}
            {% endif %}
        {% endblock leftAside %}
    </div>


    <section>
        {% block articles %}
        {% endblock articles%}
    </section>

    <div class="right-aside">
        {% block rightAside %}
        {% endblock rightAside %}
    </div>
</main>

    <header>
        <div class="leftheader">
            <img src="{% static 'forum/img/undraw_at_home_octe.png' %}">
            <a value="{% url 'forum:home' %}" id="forumtitle">Quarantine Life</a>
        </div>
        <div class="rightheader">
            <form action="{% url 'forum:search' %}" method="get">
                <input style="float: right" type="text" name="q" placeholder="Search...">
            </form>
            {% if user.is_authenticated %}
                <a href="{% url 'forum:logout' %}"><button class="logoutbutton">LogOut</button></a>
            {% else %}
            <a><button class="loginbutton" id="navloginbutton">Log In</button></a>
            {% endif %}
        </div>
    </header>
</body>

    <div class="login">
        <div class="login-container">
            <img src="{% static 'forum/img/close1.png' %}" id="close">
            <div class="login-form">
                <img src="{% static 'forum/img/undraw_profile_pic_ic5t.png' %}">
                <form id="login_form" action="{% url 'forum:api_login' %}" method="post">
                    {% csrf_token %}
                    {% for field in loginForm %}
                        {{ field }}
                    {% endfor %}
                    <a class="credencials-error">Wrong e-mail or password</a>
                    <input type="submit" class="loginbutton" value="LogIn">
                </form>
                <a>Don't have an account?</a>
                <a href="#" id="signup">Signup here</a>
            </div>
            <div class="signup-form">
                <img src="{% static 'forum/img/undraw_profile_pic_ic5t.png' %}">
                <form action="{% url 'forum:api_signup' %}" method="post" id="signup_form">
                    {% csrf_token %}
                    {% for field in signupForm %}
                        {{ field }}
                    {% endfor %}
                    <input type="submit" class="signupButton" value="SignUp">
                    <input type="hidden" name="url_emailValidation" value="{% url 'forum:api_verify_email' %}">
                    <input type="hidden" name="url_usernameValidation" value="{% url 'forum:api_verify_username' %}">
                </form>
                <a>Already have an account?</a>
                <a href="#" id="signin">Login here</a>
            </div>
            <div class="login-art">
                <img src="{% static 'forum/img/undraw_social_distancing_2g0u.png' %}">
            </div>
            <div class="signup-art">
                <img src="{% static 'forum/img/undraw_authentication_fsn5.png' %}">
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#navloginbutton").click(function () {
                $(".login").css("display", "flex")
            });

            $("#close").click(function () {
                $(".login").css("display", "none")
            });

            $("#signup").click(function () {
                $(".login-form").css("display", "none");
                $(".signup-form").css("display", "flex");
                $(".login-art").css("order", "1");
                $(".signup-art").css("display", "flex");
                $(".login-art").css("display", "none");
                $("#close").css("left", "revert");
                $("#close").css("right", "10px");
            });

            $("#signin").click(function () {
                $(".login-form").css("display", "flex");
                $(".signup-form").css("display", "none");
                $(".login-art").css("order", "2");
                $(".signup-art").css("display", "none");
                $(".login-art").css("display", "flex");
                $("#close").css("left", "10px");
                $("#close").css("right", "revert");
            })
        })


    </script>
    <script src="{% static 'forum/js/accounts.js' %}"></script>
    <script src="{% static 'forum/js/main.js' %}"></script>
    {% block js %}
    {% endblock %}


</html>