{% extends 'forum/index.html' %}
{% load static %}

{% block articles %}
    <section>
        <div class="topDescription">
            <div class="topic_left">
                <h3>Liked Posts</h3>
            </div>
        </div>
        {% if posts %}
            {% for post in posts %}
                {% include 'forum/cards/post_card.html' %}
            {% endfor %}
        {% else %}
            <article>
                You don't like any posts
            </article>
        {% endif %}
    </section>
{% endblock %}