{% extends 'forum/index.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'forum/css/topic_card.css' %}">
{% endblock %}

{% block leftAside %}
{% endblock %}

{% block articles %}
    <section>
        <div class="topDescription">
            <div class="topic_left">
                <h3 style="color: #A7A5E6" style="margin-left: 20px">t/Tópicos Populares</h3>
            </div>
        </div>
        {% if page_list %}
            {% for topic in page_list %}
                <article class="detail_post-articles" value="{% url 'forum:topic' topic.slug %}">
                    <div class="topicArticleTop">
                        <div class="topic_left">
                            <h3 style="margin: 0">t/{{ topic.slug }}</h3>
                        </div>
                        <div class="topic_right">
                            <form id="topic-join" action="{% url 'forum:api_follow_topic' %}" method="post">
                                {% csrf_token %}
                                <input id="topic_id-join" type="hidden" name="topic_id" value="{{ topic.id }}">
                                <input id="topic-join-submit" type="submit" value="{% if user.is_authenticated and user in topic.followers.all %}Following{% else %}Join{% endif %}" class="topic_join_button {% if user.is_authenticated and user in topic.followers.all %}is_following{% endif %}">
                            </form>
                        </div>
                    </div>
                     <div class="topicDescription">
                        <a>{{ topic.description }}</a>
                         <a>{{ topic.num_followers }} Follower{{ topic.num_followers|pluralize }}</a>
                    </div>
                </article>
            {% endfor %}
            {% include 'forum/widgets/paginator.html' %}
        {% else %}
            <div class="topDescription">
                <div class="topic_left">
                    <h3 style="margin-left: 20px">No popular topics</h3>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}