{%  extends 'forum/index.html' %}

{% load static %}

{% block leftAside %}
{% endblock %}

{% block articles %}
        <div class="postSection">
            <article class="postArticle">
                <div class="toppost">
                    <a href="{% url 'forum:profile' post.owner.username %}"><img src="{{ post.owner.profile.profile_image }}" alt="Avatar" class="avatar"></a>
                    <a href="{% url 'forum:profile' post.owner.username %}">{{ post.owner.username}}</a>
                    <a>posted in</a>
                    <a href="{% url 'forum:topic' post.topic.slug %}">t/{{ post.topic.slug }}</a>
                    <a>{{ post.pub_date }}</a>
                </div>
                <div class="textpost">
                    <p class="postTitle">{{ post.title }}</p>
                    {% if post.text %}
                        <p class="postText">{{ post.text|linebreaks }}</p>
                    {% endif %}
                    <div class="postmedia">
                        {% if post.image %}
                            <img src="{{ post.image }}">
                        {% endif %}
                    </div>
                    <div class="postmedia">
                        {% if post.video %}
                            <iframe src="{{ post.video }}">
                            </iframe>
                        {% endif %}
                    </div>
                </div>
                <div class="buttonspost">
                        <form class="likeForm" method="post" action="{% url 'forum:api_like_toggle' %}" name="Post">
                            {% csrf_token %}
                            <input type="hidden" name="article_id" value="{{ post.id }}">
                            <input type="submit" class="like {% if not user.is_authenticated or user in post.post_pizzas.all %}liked{% endif %}"  value="">
                        </form>
                    <p name="Post{{ post.id }}" class="numberPizzas">{{ post.num_likes }} Like{{ post.num_likes|pluralize }}</p>
                    {% include 'forum/widgets/share_button.html' %}
                </div>

                <form id="new_comment" class="commentBar" method="post" action="{% url 'forum:api_new_comment' %}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <img src="{% static 'forum/img/comunicacoes.svg' %}" id="commenticon">
                    <input type="text" id="commentInput" placeholder="Add a comment">
                </form>

                <div id="commentsDiv">
                {% if post.comment_set.all %}
                    {% for comment in post.comment_set.all %}
                        {% include 'forum/cards/comment_card.html' %}
                    {% endfor %}
                {% else %}
                {% endif %}
                </div>
            </article>
        </div>
{% endblock articles %}

{% block js %}
<script src="{% static 'forum/js/post_details.js' %}"></script>
{% endblock %}