{%  extends 'forum/index.html' %}

{% load static %}

{% block leftAside %}
{% endblock %}

{% block articles %}
        <div class="postSection">
            <div class="postArticle">
                <div class="toppost">
                    <a href="{% url 'forum:profile' post.owner.username %}"><img src="{{ post.owner.profile.profile_image }}" alt="Avatar" class="avatar"></a>
                    <a href="{% url 'forum:profile' post.owner.username %}">{{ post.owner.username}}</a>
                    <a>posted in</a>
                    <a href="{% url 'forum:topic' post.topic.slug %}">t/{{ post.topic.title }}</a>
                    <a>{{ post.pub_date }}</a>
                </div>
                <div class="textpost">
                    <p class="postTitle">{{ post.title }}</p>
                    {% if post.image %}
                        <img src="{{ post.image }}">
                    {% endif %}
                    {% if post.video %}
                        <video>
                            <source src="{{ image.video }}">
                        </video>
                    {% endif %}
                    <p class="postText">{{ post.text }}</p>
                </div>
                <div class="buttonspost">
                        <form class="likeForm" method="post" action="{% url 'forum:api_like_toggle' %}" name="Post">
                            {% csrf_token %}
                            <input type="hidden" name="article_id" value="{{ post.id }}">
                            <input type="submit" class="like {% if not user.is_authenticated or user in post.post_pizzas.all %}liked{% endif %}"  value="">
                        </form>
                    <p name="Post{{ post.id }}" class="numberPizzas">{{ post.num_likes }} Like{{ post.num_likes|pluralize }}</p>
                </div>

                <form id="new_comment" class="commentBar" method="post" action="{% url 'forum:api_new_comment' %}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <img src="{% static 'forum/img/comunicacoes.svg' %}" id="commenticon">
                    <input type="text" id="commentInput" placeholder="Add a comment">
                </form>

                <div id="commentsDiv">
                {% if post.comment_set.all %}
                    {% for comment in post.comment_set.all %}
                        <div class="commentsArticle">
                            <div class="commentsTop">
                                <a href="{% url 'forum:profile' comment.owner.username %}"><img src="{{ comment.owner.profile.profile_image }}" alt="Avatar" class="avatar"></a>
                                <a href="{% url 'forum:profile' comment.owner.username %}">{{ comment.owner.username}}</a>
                                <a>{{ post.pub_date }}</a>
                            </div>
                            <div class="commentsText">
                                <a>{{ comment.text }}</a>
                            </div>
                            <div class="commentsButtons">
                                {% if user.is_authenticated %}
                                    <form class="likeForm" method="post" action="{% url 'forum:api_comment_like_toggle' %}" name="Comment">
                                        {% csrf_token %}
                                        <input type="hidden" name="article_id" value="{{ comment.id }}">
                                        <input type="submit" class="like commentsLike {% if not user.is_authenticated or user in comment.comment_pizzas.all %} liked commentsLiked {% endif %}"  value="">
                                    </form>
                                {% endif %}
                                <p name="Comment{{ comment.id }}" class="numberPizzas commentsPizzas">{{ comment.num_likes }} Like{{ comment.num_likes|pluralize }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                {% endif %}
                </div>
                <input id="profileURL" type="hidden" value="{% url 'forum:profile' 'username' %}">
                <input id="commentLikeUrl" type="hidden" value="{% url 'forum:api_comment_like_toggle' %}">
            </div>
        </div>
{% endblock articles %}

{% block js %}
<script src="{% static 'forum/js/post_details.js' %}"></script>
{% endblock %}