{%  extends 'forum/index.html' %}

{% load static %}

{% block articles %}
    {% if page_list %}
        {% for post in page_list %}
            <article>
                <div class="toppost">
                    <a href="{% url 'forum:profile' post.owner.username %}"><img src="{% static 'forum/img/avatar6.png' %}" alt="Avatar" class="avatar"></a>
                    <a href="{% url 'forum:profile' post.owner.username %}">{{ post.owner.username}}</a>
                    <a>{{ post.pub_date }}</a>
                </div>
                <div class="textpost">
                    <p class="postTitle">{{ post.title }}</p>
                    <p class="postText">{{ post.text }}</p>
                </div>
                <div class="buttonspost">
                    {% if user.is_authenticated %}
                    <form class="likeForm" method="post" action="{% url 'forum:api_like_toggle' %}">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <input type="submit" class="like {% if user in post.post_pizzas.all %}liked{% endif %}"  value="">
                    </form>
                    {% endif %}
                    <p name="{{ post.id }}" class="numberPizzas">{{ post.num_likes }} Like{{ post.num_likes|pluralize }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>Não há posts</p>
    {% endif %}
{% endblock articles %}

{% block rightAside %}
    <h3>About {{ topic.title }}</h3>
    <p>{{ topic.description }}</p>
    <p>{{ topic.num_followers }} Follower{{ topic.num_followers|pluralize }}</p>
    <button class="create_post">Create post</button>
{% endblock rightAside %}