{%  extends 'forum/index.html' %}
{% load static %}

{% block articles %}
    <section>
        <div class="topicArticle">
            <div class="topic_left">
                <h3>{{ topic.title }}</h3>
            </div>
            <div class="topic_right">
                <form id="topic-join" action="{% url 'forum:api_follow_topic' %}" method="post">
                    {% csrf_token %}
                    <input id="topic_id-join" type="hidden" name="topic_id" value="{{ topic.id }}">
                    <input id="topic-join-submit" type="submit" value="{% if user.is_authenticated and user in topic.followers.all %}Following{% else %}Join{% endif %}" class="topic_join_button {% if user.is_authenticated and user in topic.followers.all %}is_following{% endif %}">
                </form>
            </div>
        </div>
        {% if page_list %}
        {% for post in page_list %}
            <article class="detail_post-articles" value="{% url 'forum:post' post.id %}">
                <div class="toppost">
                    <a href="{% url 'forum:profile' post.owner.username %}"><img src="{{ post.owner.profile.profile_image }}" alt="Avatar" class="avatar"></a>
                    <a href="{% url 'forum:profile' post.owner.username %}">{{ post.owner.username}}</a>
                    <a>{{ post.pub_date }}</a>
                </div>
                <div class="textpost">
                    <p class="postTitle">{{ post.title }}</p>
                    <p class="postText">{{ post.text }}</p>
                </div>
                <div class="buttonspost">
                    <form class="likeForm" method="post" action="{% url 'forum:api_like_toggle' %}" name="Post">
                        {% csrf_token %}
                        <input type="hidden" name="article_id" value="{{ post.id }}">
                        <input type="submit" class="like {% if not user.is_authenticated or user in post.post_pizzas.all %}liked{% endif %}"  value="">
                    </form>
                    <p name="Post{{ post.id }}" class="numberPizzas">{{ post.num_likes }} Like{{ post.num_likes|pluralize }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>Não há posts</p>
    {% endif %}
    </section>
{% endblock articles %}

{% block rightAside %}
    <h3>About {{ topic.title }}</h3>
    <p>{{ topic.description }}</p>
    <p id="topic-followers">{{ topic.num_followers }} Follower{{ topic.num_followers|pluralize }}</p>
    <button id="createPost-button">Create post</button>
{% endblock rightAside %}

{% block createPost %}
    <div class="createPost">
        <div class="createPost-container">
            <img src="{% static 'forum/img/close1.png' %}" id="close_createComment">
            <img src="{% static 'forum/img/undraw_wall_post_83ul.png' %}">
            <form class="createPost_form" action="{% url 'forum:api_new_post' %}" method="post">
                {% csrf_token %}
                {% for field in postForm %}
                    {{ field }}
                {% endfor %}
                <input type="submit" class="createpostbutton" value="Post">
            </form>
        </div>
    </div>
{% endblock createPost %}


{% block js %}
    <script src="{% static 'forum/js/topic_details.js' %}"></script>
{% endblock %}