{%  extends 'forum/index.html' %}

{% load static %}

{% block articles %}
    <section>
    {% if page_list %}
        <div class="topicArticle">
            <div class="topic_left">
                <h3>{{ topic.title }}</h3>
            </div>
            <div class="topic_right">
                <form id="topic-join" action="{% url 'forum:api_follow_topic' %}" method="post">
                    {% csrf_token %}
                    <input id="topic_id-join" type="hidden" name="topic_id" value="{{ topic.id }}">
                    <input id="topic-join-submit" type="submit" value="Join" class="topic_join_button">
                </form>
            </div>
        </div>
        {% for post in page_list %}
            <article>
                <div class="toppost">
                    <a href="{% url 'forum:profile' post.owner.username %}"><img src="{% static 'forum/img/avatar6.png' %}" alt="Avatar" class="avatar"></a>
                    <a href="{% url 'forum:profile' post.owner.username %}">{{ post.owner.username}}</a>
                    <a>{{ post.pub_date }}</a>
                </div>
                <div class="textpost">
                    <p class="postTitle">{{ post.title }}</p>
                    <p class="postText">{{ post.text }}</p>
                </div>
                <div class="buttonspost">
                    <form class="likeForm" method="post" action="{% url 'forum:api_like_toggle' %}">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <input type="submit" class="like {% if not user.is_authenticated or user in post.post_pizzas.all %}liked{% endif %}"  value="">
                    </form>
                    <p name="{{ post.id }}" class="numberPizzas">{{ post.num_likes }} Like{{ post.num_likes|pluralize }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>Não há posts</p>
    {% endif %}
    </section>
{% endblock articles %}

{% block rightAside %}
    <h3>About {{ topic.title }}</h3>
    <p>{{ topic.description }}</p>
    <p>{{ topic.num_followers }} Follower{{ topic.num_followers|pluralize }}</p>
    <button>Create post</button>
{% endblock rightAside %}

{% block js %}
<script src="{% static 'forum/js/details.js' %}"></script>
{% endblock %}