/*color: ff6200;*/
/*background-color: #A7A5E6;*/

*{
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    margin: 0;
    background-color: #dfe3ee;
}

header{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    overflow: hidden;
    display: flex;
}

.leftheader{
    justify-content: flex-start;
    align-items: center;
    width:50%;
    display: flex;
}

.rightheader{
    display: flex;
    justify-content: flex-end;
    width:50%;
    align-items: center;
}

.searchBar{
    border-radius: 100px;
    border: 1px solid gray;
    padding: 6px 7px;
}

#forumtitle{
    font-size: 30px;
    margin-left: 10px;
    font-weight: 200;
    font-family: Verdana;
    cursor: pointer;
}

#forumicon{
    cursor: pointer;
}

header input, header button{
    margin-right: 10px;
}

header img{
    /*width: 50px;*/
    height: 50px;
    margin-left: 20px;
}

main{
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    overflow: scroll;
}

.left-aside{
    width: 20%;
    padding: 0;
    margin: 30px 20px;
    position: sticky;
    top: 1rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    height: -moz-fit-content;
    box-shadow: 2px 3px rgba(0,0,0,0.1);
}

.left-aside a{
    /*padding-left: 35px;*/
    /*display: block;*/
    border-top: 1px solid rgba(0,0,0, 0.2);
    width: 100%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.left-aside a:hover{
    /*background-color: #7977A6;*/
    background-color: #A7A5E6;
    color: white;
}

.left-aside h3{
    /*background: #f12711;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #f5af19, #f12711);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #f5af19, #f12711); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*background-size: 500px;*/
    background-color: #414059;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    color: white;
}

.right-aside{
    width: 20%;
    padding: 0;
    position: sticky;
    top: 1rem;
    margin: 30px 20px;
    background-color: white;
    border-radius: 5px;
    height: fit-content;
    height: -moz-fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 3px rgba(0,0,0,0.1);
}

.right-aside p{
    padding: 0 15px;
    font-size: 14px;
}

.right-aside h3{
    /*background: #f12711;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #f5af19, #f12711);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #f5af19, #f12711); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*background-size: 500px;*/
    background-color: #414059;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    color: white;
    width: 100%;
}

.right-aside button{
    border: 1px solid transparent;
    border-radius: 100px;
    /*background-color: #ff6200;*/
    /*background: #f12711;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #f5af19, #f12711);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #f5af19, #f12711); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    background-color: #414059;
    background-clip: padding-box;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 5px 10px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

section{
    width: 60%;
    margin: 30px 0px;
}

.postSection{
    width: 50%;
    margin: 30px 0px;
}

article{
    margin-bottom: 20px;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 8px rgba(0,0,0, 0.1);
    cursor: pointer;
}

article:hover{
    border: 1px solid rgba(0,0,0, 0.2);
}

.topicArticle{
    margin-bottom: 20px;
    border: 1px solid transparent;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: 1px 4px rgba(0,0,0, 0.1);
}

.topic_left{
    display: flex;
    width: 50%;
}

.topic_right{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.topic_join_button{
    /*position: absolute;*/
    /*right: 10px;*/
    /*background-color: #414059;*/
    background: #A7A5E6;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #f5af19, #f12711);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #f5af19, #f12711); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 100px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 5px 10px;
    height: 40px;
    width: 150px;
    cursor: pointer;
}

.is_following{
    background-color: white;
    background: none;
    color: #414059;
    border: 1px solid gray;
}

.postArticle{
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 8px rgba(0,0,0, 0.1);
    height: fit-content;
    height: -moz-fit-content;
}

.searchTab{
    flex-direction: row;
    border-radius: 5px;
    background-color: white;
    display: flex;
    border-radius: 5px;
}

.searchTab button{
    height: 100%;
    width: 33.3%;
    border: 1px solid transparent;
    padding: 10px;
    background-color: #414059;
    color: white;
    /*border-radius: 5px;*/
    margin: 0;
    font-size: 18.72px;
}

.searchArticle{
    height: fit-content;
    background-color: white;
    display: flex;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}

.topicsearch{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.topicsearch:hover{
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}

.topicsearch a:nth-child(2){
    font-size: 12px;
    margin-top: 5px;
}

.toppost img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*display: block;*/
    vertical-align: middle;
}

.toppost{
    display: flex;
}

.toppost a:nth-child(2n){
    text-decoration: none;
    color: #3b5998;
    margin-left: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.toppost a:nth-child(2n):hover{
    text-decoration: underline;
}

.toppost a:nth-child(2n+1){
    margin-left: 5px;
    color: gray;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.topsearchpost img, .userssearch img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.topsearchpost a:nth-child(2n){
    font-size: 14px;
}

.postText{
    font-size: 14px;
}

.postsearchtitle{
    font-size: 12px;
    margin: 0px;
}

.postTitle{
    font-weight: bold;
    font-size: 15px;
}

.loginbutton, .signupButton, .logoutbutton{
    border: 1px solid transparent;
    border-radius: 100px;
    /*background-color: #ff6200;*/
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: padding-box;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 5px 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.buttonspost{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.bottomsearchpost{
    margin-left: 33px;
    margin-bottom: 20px;
}

.numberPizzas{
    margin: 0;
    font-size: 14px;
    color: gray;
    margin-left: 5px;
}

.numbersearchpizzas{
    font-size: 12px;
    color: gray;
    margin: 0;
}

.commentsPizzas{
    font-size: 10px;
}

.like{
    border: none;
    background: transparent url("../img/pizzaOutline3.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
}

.liked{
    border: none;
    background: transparent url("../img/pizza.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
}

.commentsLike{
    width: 20px;
    height: 20px;
}

.commentsLiked{
    width: 20px;
    height: 20px;
}

.commentsArticle{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.commentBar{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    align-items: center;
}

#commentInput{
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    width: 90%;
    padding: 10px;
    font-size: 14px;
    margin-left: 20px;
    height: 40px;
    resize: none;
}

#commentInput:focus{
    outline: none;
    height: 80px;
}

#commenticon{
    width: 25px;
    height: 25px;
    opacity: 0.5;
}

.commentsTop img{
    width: 25px;
    height: 25px;
}

.commentsTop a:nth-child(2){
    font-size: 12px;
    text-decoration: none;
    color: #3B5998;
    margin-left: 5px;
}

.commentsTop a:nth-child(3){
    font-size: 10px;
    text-decoration: none;
    color: gray;
    margin-left: 5px;
}

.commentsText{
    margin-top: 10px;
    margin-left: 33px;
    margin-right: 33px;
    display: flex;
}

.commentsText a{
    font-size: 12px;
}

.commentsButtons{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 33px;
}

.tabContent{
    width: 100%;
}

.postsSearch{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

.postsSearch:hover{
    border: 1px solid rgba(0,0,0, 0.2);
    border-radius: 5px;
}

.userssearch{
    display: flex;
    padding: 10px;
}

.userssearch:hover{
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
}

.userssearch a:nth-child(2){
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.userssearch a:nth-child(2):hover{
    text-decoration: underline;
}

.login, .createPost{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0,0 , 0.7);
    /*display: flex;*/
    display: none;
    align-items: center;
    justify-content: center;
}

.login-container, .createPost-container{
    width: 60%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    position: absolute;
}

#close{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#close:hover{
    border: 1px solid gray;
    border-radius: 100px;
}

.login-form{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login_form, #signup_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form{
    width: 35%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;
}

.login-form img, .signup-form img{
    width: 100px;
    height: 100px;
}

.login-form input:nth-child(-n+3), .signup-form input:nth-child(-n+5){
    border: none;
    text-align: center;
    border-bottom: 1px solid gray;
    font-size: 20px;
    margin-top: 15px;
    width: 200px;
    padding-bottom: 10px;
}

.login-form input:nth-child(-n+3):focus, .signup-form input:nth-child(-n+5):focus{
    outline: none;
}

.login-form input:nth-child(5), .signup-form input:nth-child(6){
    margin-top: 30px;
    border-radius: 100px;
    /*width: 100px;*/
}

.credencials-error{
    margin-top: 5px;
    color: red;
    font-size: 12px;
    display: none;
}

.login-form a:nth-child(3), .signup-form a{
    margin-top: 15px;
    font-size: 12px;
}

.login-form a:nth-child(4){
    font-size: 12px;
}

.login-art img, .signup-art img{
    width: 100%;
    height: 500px;
    text-align: right;
    border-radius: 5px;
    /*transform: scaleX(-1);*/
}

.login-art{
    justify-content: flex-end;
    width: 65%;
}

.signup-art{
    justify-content: start;
    width: 65%;
    display: none;
}

