.paginator {
    align-items: center;
    display: flex;
    justify-content: center;
}

.paginator a {
    background-color: #414059;
    color: white;
    padding: 8px 16px;
    border: 1px solid transparent;
    text-decoration: none;
}

.paginator .active:hover{
    background-color: #A7A5E6;
}

.paginator a:nth-child(1){
    border-radius: 5px 0 0 5px;
}

.paginator a:nth-child(5){
    border-radius: 0 5px 5px 0;
}
