.share-dropdown {
    display: flex;
    margin: 0;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
}

.share-text {
    color: gray;
    font-size: .9rem;
    text-align: center;
    /*margin-left: 5px;*/
    margin: 0 0 0 5px;
}

.share-element {
    padding: 5px 0;
}

.share-element img {
    margin: 0 5px;
}

.share-content {
    display: none;
    position: absolute;
    top: 25px;
    left: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    flex-direction: column;
    border-radius: 5px;
}

.share-element{
    display: flex;
    width: 100%;
}

.share-content img {
    width: 20px;
    height: 20px;
}

.share-content a {
    text-decoration: none;
    color: black;
}

.share-element:hover{
    background-color: #A7A5E6;
}

.share-element:hover div a{
    color: white;
}

.share-dropdown:hover .share-content {
    display: flex;
}