*{
    box-sizing: border-box;
    font-family: 'Lato';
}

body{
    margin: 0;
    background-color: #dfe3ee;
}

header{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    overflow: hidden;
    display: flex;
}

.leftheader{
    justify-content: flex-start;
    align-items: center;
    width:50%;
    display: flex;
}

.rightheader{
    display: flex;
    justify-content: flex-end;
    width:50%;
    align-items: center;
}

#forumtitle{
    font-size: 30px;
    margin-left: 10px;
}

header input, header button{
    margin-right: 10px;
}

header img{
    /*width: 50px;*/
    height: 50px;
    margin-left: 20px;
}

main{
    margin-top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    overflow: scroll;
}

aside{
    width: 20%;
    padding: 0;
    margin-top: 30px;
    position: sticky;
    top: 2rem;
}

aside ul{
    padding: 0;
}

aside a{
    padding-left: 35px;
    display: block;
    text-decoration: none;
    color: black;

}

aside h3{
    padding-left: 35px;
    margin-top: 0;
    /*text-align: center;*/
}

section{
    width: 60%;
    margin: 30px 0px;
}

article{
    margin-bottom: 20px;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*display: block;*/
    vertical-align: middle;
}

.toppost{
    display: flex;
}

.toppost a:nth-child(2){
    text-decoration: none;
    color: #3b5998;
    margin-left: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;

}

.toppost a:nth-child(3){
    margin-left: 5px;
    color: gray;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.loginbutton{
    border: 1px solid transparent;
    border-radius: 100px;
    background-color: #ff6200;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 5px 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.buttonspost{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.like{
    border: none;
    background: transparent url("../../static/forum/pizzaOutline3.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
}

.liked{
    border: none;
    background: transparent url("../../static/forum/pizza.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
}

.login{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0,0 , 0.5);
    /*display: flex;*/
    display: none;
    align-items: center;
    justify-content: center;
}

.login-container{
    width: 60%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
}

#close{
    width: 15px;
    height: 15px;
    position: relative;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#close:hover{
    border: 1px solid gray;
    border-radius: 100px;
}

.login-form{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding: 50px;*/
}

.login-form img{
    width: 100px;
    height: 100px;
}

.login-form input{
    border: none;
    text-align: center;
    border-bottom: 1px solid gray;
    font-size: 20px;
    margin-top: 15px;
    width: 200px;
    padding-bottom: 10px;
}

.login-form input:nth-child(2){
    margin-top: 25px;
}

.login-form button{
    margin-top: 30px;
    border-radius: 100px;
    /*width: 100px;*/
}

.login-art img{
    width: 100%;
    height: 500px;
    text-align: right;
    border-radius: 5px;
}

.login-art{
    /*background-color: #3b5998;*/
    justify-content: flex-end;
    width: 65%;
}

