{% extends 'forum/index.html' %}
{% load static %}

{% block leftAside %}
{% endblock %}

{% block articles %}
    <section>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label }} <br>
                    {{ field }} <br>
                    {{ field.errors }} <br>
                {% endfor %}
                <input type="submit" value="Change Password">
            </form>
        {% else %}
            <p>The reset link is invalid.</p>
        {% endif %}
    </section>
{% endblock %}