{% extends 'forum/index.html' %}
{% load static %}

{% block leftAside %}{% endblock %}

{% block articles %}
    <section class="password_reset">
        <h1>Change Password</h1>
        <form method="post" class="reset_form">
            {% csrf_token %}
            {% for field in form %}
                <a class="label"> {{ field.label }} </a>
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <input type="submit" value="Change Password" class="resetButton">
        </form>
    </section>
{% endblock %}